/** CSS STYLE **/

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --lightly: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --tranclucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  width: 1440px;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 914px;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.section {
  height: 914px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 165px;
  padding-right: 165px;
}

.section-short {
  height: 814px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 165px;
  padding-right: 165px;
}

.section-dark {
  height: 991px;
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 165px;
  padding-right: 165px;
  text-align: left;

  background-color: var(--main-dark-color);
}

.header {
  background-color: var(--lightly);
}

main {
  width: 1440px;
  position: relative;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  margin: 0;
  font-size: 60px;
}

h3 {
  color: var(--main-color);
  font-size: 34px;
  margin: 0;
  margin-top: 40px;
}

h4 {
  font-size: 24px;
}

.title-main {
  color: var(--main-color);
}

.title-dark {
  color: var(--dark);
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;
}

.link-button {
  display: inline-block;
  margin-left: 570px;
  margin-top: 40px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--main-color);
}

.description-main {
  margin-top: 185px;
  width: 1110px;
  column-count: 2;
  column-gap: 30px;
}

.white-grnd {
  background-color: var(--white);
}

.video {
  position: absolute;
  bottom: -84px;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-medium {
  font-size: 52px;
}

.title-white {
  color: var(--white);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content-name {
  display: block;
  width: 350px;
  height: 323px;
}

.content-items {
  display: block;
  width: 350px;
  height: 323px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--lightly);
}

.content-items h2 {
  padding: 0;
  margin: 0;
  font-size: 64px;
  line-height: 1;
}

.content-items p {
  padding: 0;
  margin: 0;
}