/** CSS STYLE **/

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --lightly: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --tranclucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: var(--dark);
}

.content-wrapper {
  width: 1440px;
  padding: 100px 165px;
  margin: 0 auto;
}

main a {
  color: var(--dark);
  text-decoration: none;
}

main a:visited {
  color: var(--dark);
}

p {
  margin-top: 0;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--main-color);
  font-family: 'Neucha';
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  margin-bottom: 198px;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/background.png);
  background-color: var(--brown);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.section {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  position: relative;
}

.section-dark {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: var(--main-dark-color);
}

.column {
  text-align: left;
  columns: 2;
  column-gap: 30px;
  column-width: 540px;
}

.font-dark {
  color: var(--dark);
}

.font-main-dark {
  color: var(--main-dark-color);
}

.img-main {
  position: absolute;
  top: 55px;
  left: 461px;
  height: 525px;
  z-index: -1;
}

a.link-button {
  display: inline-block;
  margin-left: 570px;
  margin-top: 24px;
  padding: 12px 24px;
  width: 148px;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--main-color);
}

.section-video {
  padding-top: 100px;
  text-align: center;
  background-color: var(--white);
}

.section-video p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video {
  margin-bottom: -100px;
  z-index: 2;
  width: 919px;
  height: 569px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-medium {
  font-size: 52px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.content-name {
  width: 350px;
}

.content-items {
  display: block;
  width: 350px;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--lightly);
}

.content-items h2 {
  font-size: 64px;
  line-height: 1;
  color: var(--main-dark-color);
}

.content-items h3 {
  font-size: 34px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 12px;
}

.content-items p {
  padding: 0;
  margin: 0;
}

.img {
  background-color: var(--white);
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  /* z-index: 1; */
}

.marg-left {
  margin-left: 30px;
}

.p-neucha {
  margin: 0;
  margin-top: 30px;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.p-chapter {
  margin: 0;
  color: var(--tranclucent-dark);
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.marg-left {
  margin-left: 30px;
}

.column-span {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  column-span: all;
  background-color: var(--brown);
}

.font-white {
  color: var(--white);
}

.section.brown {

  z-index: -1;
  background-color: var(--brown);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-span.white {
  color: var(--brown);
  background-color: var(--white);
}

.img.optimization {
  position: relative;
  right: 38px;
}

.breack-inside {
  break-inside: avoid;
}

.breack-after {
  break-after: column;
}

.order2 {
  order: 2;
}

.footer {
  position: relative;
  padding: 100px 165px;
  margin: 0 auto;
  background-color: var(--white);
}

.form {
  position: relative;
  margin-bottom: 76px;
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
  background-color: var(--main-dark-color);
}

.form a {
  text-decoration: underline;
}

footer h3 {
  display: inline-block;
  margin: 55px;
  vertical-align: middle;
}

.copytight {
  font-size: 14px;
  text-align: center;
}

.copytight a {
  font-size: 14px;
  color: var(--blue);
  text-decoration: underline;
}

.consent {
  position: absolute;
  top: 125px;
  left: 570px;
  font-size: 12px;
}

input {
  position: absolute;
  top: 75px;
  right: 117px;
  height: 50px;
  width: 423px;
  padding: 15px;
  border: none;
}

label {
  position: absolute;
  top: 38px;
  left: 570px;
  font-size: 18px;
}

input::placeholder {
  font-size: 13.1px;
  color: #757575;
  opacity: 0.2;
}

button {
  position: absolute;
  top: 75px;
  right: 55px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;

  background-image: url('../img/send.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-color);
}