/** CSS STYLE **/

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --lightly: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --tranclucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  box-sizing: border-box;
  width: 1440px;
}

.header {

  position: relative;
  top: 0;
  left: 0;
  background-image: url('../src/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 1110px;
  position: relative;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.title-main {
  color: var(--main-color);
}

.title-dark {
  color: var(--dark);
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;
}

.link-button {
  padding: 12px 24px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--main-color);
}

.description-main {
  width: 540px;
  column-count: 2;
  column-gap: 30px;
}